<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>103330405515-jinq4u33sdfg7au1ophs6b4u9vhcfibo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103330405515-jinq4u33sdfg7au1ophs6b4u9vhcfibo</string>
	<key>API_KEY</key>
	<string>AIzaSyAmi64GwGmSS9o1oAeV9IXeZ57pwX7-aps</string>
	<key>GCM_SENDER_ID</key>
	<string>103330405515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.FirebaseAuthenticationDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-61967</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-61967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:103330405515:ios:77f3040d7f62b2da</string>
	<key>DATABASE_URL</key>
	<string>https://fir-61967.firebaseio.com</string>
</dict>
</plist>